@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:900&display=swap);.gluonAdmin {
  font-family: "Open Sans", sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}

.gluonAdmin h1,
.gluonAdmin h2,
.gluonAdmin h3,
.gluonAdmin h4,
.gluonAdmin h5,
.gluonAdmin h6,
.gluonAdmin strong {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}

.gluonAdmin,
.gluonAdmin * {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

html,
.gluonAdmin {
  height: 100%;
}

.gluonAdmin .page {
  overflow: auto;
  height: 100%;
  --menu-width: 20rem;
  --dark-color: #373638;
  --light-color: #f4f3f6;
  --white-color: #f4f3f6;
  --line-color: var(--dark-color);
}

.gluonAdmin {
  background: var(--light-color);
}

.gluonAdmin header {
  background: var(--dark-color);
  color: var(--white-color);
  padding: 1rem;
  font-size: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  /*
  width: calc(var(--menu-width) - 2rem);
  text-align: right;
  */
}

.gluonAdmin main {
  float: right;
  width: calc(100% - var(--menu-width));
}

.gluonAdmin aside {
  float: right;
  width: var(--menu-width);
  background: var(--light-color);
  height: calc(100% - 3rem);
  padding-top: 3rem;
}

.gluonAdmin .mainContent {
  padding: 1rem;
}

.gluonAdmin .asideContent {
  padding: 1rem;
}

.gluonAdmin .mainContent__title {
  margin-bottom: 1em;
}

.gluonAdmin .standardLink {
  color: var(--dark-color);
  font-family: "Roboto Slab", serif;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
}

.gluonAdmin .entityTypeList__entity {
  text-align: right;
}

.gluonAdmin .entityTypeList__entity a {
  display: block;
  padding: 0.2em;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  transition: all 0.2s;
  position: relative;
  color: black;
}

.gluonAdmin .entityTypeList__entity a::after {
  content: ">";
  transform: scaleX(0);
  transition: all 0.2s;
  display: block;
  color: var(--dark-color);
  position: absolute;
  top: 0.1em;
  right: 0;
}

.gluonAdmin .entityTypeList__entity.selected a,
.gluonAdmin .entityTypeList__entity a:hover {
  padding-right: 0.8em;
}

.gluonAdmin .entityTypeList__entity.selected a {
  background: white;
}

.gluonAdmin .entityTypeList__entity.selected a::after,
.gluonAdmin .entityTypeList__entity a:hover::after {
  transform: scaleX(1);
}

.gluonAdmin .entityTypeList__entity.important {
  font-size: 1.1em;
}

.gluonAdmin .entityTypeList__entity.separated {
  margin-top: 2em;
}

.gluonAdmin .standardTable {
  border-collapse: collapse;
  border: 1px solid var(--line-color);
}

.gluonAdmin .standardTable .noValue {
  font-size: 0.8em;
  opacity: 0.1;
  font-style: italic;
}

.gluonAdmin .standardTable th {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  vertical-align: top;
  text-align: left;
  padding: 1em;
  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
}

.gluonAdmin .standardTable th .parameterType {
  font-size: 0.6em;
  display: block;
  opacity: 0.4;
}

.gluonAdmin .standardTable td {
  padding: 1em;
  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
}

.gluonAdmin .standardTable th:first-child,
.gluonAdmin .standardTable td:first-child {
  border-left: 0;
}

.gluonAdmin .standardTable th:last-child,
.gluonAdmin .standardTable td:last-child {
  border-right: 0;
}

.gluonAdmin .standardTable tr:nth-of-type(2n) {
  background: var(--light-color);
}

.gluonAdmin .standardTable .actionMenu {
  margin: 0;
}

.gluonAdmin .actionMenu {
  margin: 2em 0;
}

.gluonAdmin .formItem {
  display: grid;
  grid-template-columns: 15rem auto;
  border-bottom: 1px solid var(--line-color);
}

.gluonAdmin .formItem__label {
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: right;
  border-right: 1px solid var(--line-color);
}

.gluonAdmin .formItem__label {
  font-size: 1em;
}

.gluonAdmin .formItem__widget {
  padding: 1rem;
}

.gluonAdmin .formItem.submit {
  border-bottom: 0px solid var(--line-color);
}

.gluonAdmin .formItem.submit input {
  font-size: 1em;
  padding: 1em;
  text-transform: uppercase;
  background: var(--dark-color);
  color: var(--light-color);
  border: 1px solid var(--line-color);
}

.niceToggle {
  padding: 0;
  background: white;
  margin: 0;
  margin-top: 0rem;
}

.nice {
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nice ~ label {
  display: inline-block;
  position: relative;
  padding-left: 3em;
  cursor: pointer;
  /*color: #ccc;*/
  transition: all 0.2s ease-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nice:checked ~ label {
  color: #000;
}

.nice ~ label:before,
.nice ~ label:after {
  display: inline-block;
  position: absolute;
  top: 0em;
  left: 0;
  border-radius: 1em;
  content: " ";
  transition: all 0.2s ease-out;
}

.nice ~ label:before {
  width: 2.5em;
  height: 1.5em;
  background-color: rgba(0, 0, 0, 0.3);
}

.nice ~ label:after {
  width: calc(1.5em - 2px);
  height: calc(1.5em - 2px);
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.nice:checked ~ label:before {
  background-color: green;
}

.nice:checked ~ label:after {
  left: 1.05em;
  border: 1px solid green;
}

