.gluonAdmin .container {
    overflow: auto;
}

.gluonAdmin main {
    float: right;
    width: calc(100% - 15rem);
}

.gluonAdmin aside {
    float: right;
    width: 15rem;
    
    background: #cccccc;
}


.gluonAdmin .mainContent {
    padding: 1em;
}