

.gluonAdmin .formItem {
  display: grid;
  grid-template-columns: 15rem auto;
  
  border-bottom: 1px solid var(--line-color);
}

.gluonAdmin .formItem__label {
  padding: 1rem;
  padding-bottom: 2rem;

  text-align: right;
  border-right: 1px solid var(--line-color);
}

.gluonAdmin .formItem__label {
  font-size: 1em;
}

.gluonAdmin .formItem__widget {
  padding: 1rem;
}



.gluonAdmin .formItem.submit  {
  border-bottom: 0px solid var(--line-color);
}

.gluonAdmin .formItem.submit input {
  font-size: 1em;
  padding: 1em;


  text-transform: uppercase;

  background: var(--dark-color);
  color: var(--light-color);
  border: 1px solid var(--line-color);
}

