@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:900&display=swap');

.gluonAdmin {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}



.gluonAdmin h1, .gluonAdmin h2, .gluonAdmin h3, .gluonAdmin h4, .gluonAdmin h5, .gluonAdmin h6, .gluonAdmin strong {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  
}

.gluonAdmin, .gluonAdmin * {
  padding: 0;
  margin: 0;
  border: 0; 

  list-style: none;
}

html, .gluonAdmin {
  height: 100%;
}

.gluonAdmin .page {
    overflow: auto;
    height: 100%; 

    --menu-width: 20rem;
    --dark-color: #373638;
    --light-color: #f4f3f6;
    --white-color: #f4f3f6;

    --line-color: var(--dark-color);
}

.gluonAdmin {
  background: var(--light-color);
}

.gluonAdmin header {
    background: var(--dark-color);
    color: var(--white-color);
    padding: 1rem;
    font-size: 0.5rem;

    position: absolute;
    left: 0;
    top:0;

    /*
    width: calc(var(--menu-width) - 2rem);
    text-align: right;
    */
}

.gluonAdmin main {
    float: right;
    width: calc(100% - var(--menu-width));

}

.gluonAdmin aside {
    float: right;
    width: var(--menu-width);
    
    background: var(--light-color);
    height: calc(100% - 3rem);

    padding-top: 3rem;
}

.gluonAdmin .mainContent {
    padding: 1rem;
}

.gluonAdmin .asideContent {
    padding: 1rem;
}


.gluonAdmin .mainContent__title {
  margin-bottom: 1em;
}











.gluonAdmin .standardLink {
  color: var(--dark-color);
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
}




